.loader {
  position: relative;
  width: 50px;
  height: 50px;
}

.square {
  background: #000;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
}

.sq1 {
  margin-top: -25px;
  margin-left: -25px;
  animation: loader 1000ms ease-in-out 0s infinite alternate;
}

.sq2 {
  margin-top: -25px;
  animation: loader 1000ms ease-in-out 100ms infinite alternate;
}

.sq3 {
  margin-top: -25px;
  margin-left: 15px;
  animation: loader 1000ms ease-in-out 200ms infinite;
}

.sq4 {
  margin-left: -25px;
  animation: loader 1000ms ease-in-out 300ms infinite;
}

.sq5 {
  animation: loader 1000ms ease-in-out 400ms infinite;
}

.sq6 {
  margin-left: 15px;
  animation: loader 1000ms ease-in-out 500ms infinite;
}

.sq7 {
  margin-top: 15px;
  margin-left: -25px;
  animation: loader 1000ms ease-in-out 600ms infinite;
}

.sq8 {
  margin-top: 15px;
  animation: loader 1000ms ease-in-out 700ms infinite;
}

.sq9 {
  margin-top: 15px;
  margin-left: 15px;
  animation: loader 1000ms ease-in-out 800ms infinite;
}

@keyframes loader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
